@font-face {
  font-family: 'Alegreya';
  src: url('@/assets/fonts/alegreya/Alegreya-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('@/assets/fonts/roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}
